# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Build directories
wpfw_radio/.dart_tool/
wpfw_radio/build/
wpfw_radio/.flutter-plugins
wpfw_radio/.flutter-plugins-dependencies
wpfw_radio/.packages
wpfw_radio/.pub-cache/
wpfw_radio/.pub/
wpfw_radio/ios/Pods/
wpfw_radio/ios/.symlinks/
wpfw_radio/android/.gradle/
wpfw_radio/android/app/build/
wpfw_radio/android/build/

# KPFK app build directories
kpfk_radio/.dart_tool/
kpfk_radio/build/
kpfk_radio/.flutter-plugins
kpfk_radio/.flutter-plugins-dependencies
kpfk_radio/.packages
kpfk_radio/.pub-cache/
kpfk_radio/.pub/
kpfk_radio/ios/Pods/
kpfk_radio/ios/.symlinks/
kpfk_radio/android/.gradle/
kpfk_radio/android/app/build/
kpfk_radio/android/build/

# Keystore files
*.jks
*.keystore
wpfw-keystore/
wpfw-keystore 2/
*.zip
